asgiref==3.7.2
dj-database-url==2.1.0
Django==3.2.5
django-cors-headers==4.3.1
django-extensions==3.2.3
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
graphene==3.3
graphene-django==3.1.5
graphql-core==3.2.3
graphql-relay==3.2.0
gunicorn==21.2.0
Pillow==10.1.0
psycopg2-binary==2.9.9
Pygments==2.17.2
PyJWT==2.8.0
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.7
whitenoise==6.6.0
